.footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer__contacts {
    max-width: 300px;
    margin-bottom: 35px;
    position: relative;
}

.footer__contacts-adress {
    font-size: 24px;
    font-weight: 600;
    display: block;
    margin-bottom: 38px;
    padding-left: 54px;
    font-style: normal;
}

.footer__contacts-adress::before {
    content: "";
    background-image: url(../image/location.svg);
    background-repeat: no-repeat;
    /* padding-right: 50px; */
    position: absolute;
    width: 34px;
    height: 34px;
    left: 0;
}

.footer__contacts-phone {
    font-size: 24px;
    font-weight: 600;
    display: block;
    margin-bottom: 11px;
    padding-left: 54px;
    font-style: normal;
}

.footer__contacts-phone::before {
    content: "";
    background-image: url(../image/bx_bxs-phone-call.svg);
    background-repeat: no-repeat;
    /* padding-right: 50px; */
    position: absolute;
    width: 34px;
    height: 34px;
    left: 0;
}

.footer__contacts-mail {
    font-size: 24px;
    font-weight: 600;
    display: block;
    padding-left: 54px;
    font-style: normal;
}

.footer__contacts-mail::before {
    content: "";
    background-image: url(../image/email.svg);
    background-repeat: no-repeat;
    /* padding-right: 50px; */
    position: absolute;
    width: 34px;
    height: 34px;
    left: 0;
}

.footer__social-list {
    display: inline-block;
}

.footer__social-item {
    display: inline-block;
}

.footer__social-item:not(:last-child) {
    margin-right: 26px;
}

.footer__social-link {
    display: block;
}

.footer__address {
    display: flex;
    justify-content: space-between;
}

.footer__map {
    background-image: url(../image/map.png);
    background-repeat: no-repeat;
    width: 680px;
    height: 247px;
}
