.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--footer-gradient);
}

.footer__contacts {
    max-width: 300px;
    margin-bottom: 35px;
    position: relative;
}

.footer__contacts-adress {
    font-size: 24px;
    font-weight: 600;
    display: block;
    margin-bottom: 38px;
    padding-left: 54px;
    font-style: normal;
}

.footer__contacts-adress::before {
    content: "";
    background-image: url(../image/location.svg);
    background-size: contain;
    background-repeat: no-repeat;
    /* padding-right: 50px; */
    position: absolute;
    width: 34px;
    height: 34px;
    left: 0;
}

.footer__contacts-phone {
    font-size: 24px;
    font-weight: 600;
    display: block;
    margin-bottom: 11px;
    padding-left: 54px;
    font-style: normal;
}

.footer__contacts-phone::before {
    content: "";
    background-image: url(../image/bx_bxs-phone-call.svg);
    background-size: contain;
    background-repeat: no-repeat;
    /* padding-right: 50px; */
    position: absolute;
    width: 34px;
    height: 34px;
    left: 0;
}

.footer__contacts-mail {
    font-size: 24px;
    font-weight: 600;
    display: block;
    padding-left: 54px;
    font-style: normal;
}

.footer__contacts-mail::before {
    content: "";
    background-image: url(../image/email.svg);
    background-size: contain;
    background-repeat: no-repeat;
    /* padding-right: 50px; */
    position: absolute;
    width: 34px;
    height: 34px;
    left: 0;
}

.footer__social-list {
    display: inline-block;
}

.footer__social-item {
    display: inline-block;
}

.footer__social-item:not(:last-child) {
    margin-right: 26px;
}

.footer__social-link {
    display: block;
}

.footer__address {
    display: flex;
    justify-content: space-between;
}

.footer__map {
    background-image: url(../image/map.png);
    background-repeat: no-repeat;
    width: 680px;
    height: 247px;
}

.footer__social-link:hover svg {
    color: #EADEED;
    transition-duration: 0.3s;
}

.footer__social-link:active svg {
    color: #CD06FF;
    transition-duration: 0.3s;
}


.footer__social-link:focus svg {
    border: 1px solid #CD06FF;
}

@media (max-width: 1250px) {
    .footer__contacts {
        max-width: 264px;
        margin-bottom: 40px;
    }

    .footer__contacts-adress {
        display: flex;
        align-items: center;
    }

    .footer__social-link {
        width: 40px;
        height: 40px;
    }

    .footer__map {
        width: 542px;
        height: 274px;
    }
}

@media (max-width: 960px) {
    .footer__address {
        flex-direction: column;
    }

    .footer__contacts-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__contacts {
        max-width: 380px;
        margin-bottom: 10px;
    }

    .footer__social-list {
        margin-bottom: 30px;
    }

    .footer__map {
        width: 100%;
        height: 337px;
    }
}

@media (max-width: 520px) {
    .footer__contacts-adress {
        font-size: 14px;
    }
    .footer__contacts-phone {
        font-size: 14px;
    }
    .footer__contacts-mail {
        font-size: 14px;
    }

    .footer__contacts-adress::before{
        width: 20px;
        height: 20px;
    }
    .footer__contacts-phone::before{
        width: 20px;
        height: 20px;
    }
    .footer__contacts-mail::before{
        width: 20px;
        height: 20px;
    }
}