.hall__link {
    display: block;
    padding: 135px 66px;
}

.hall__item {
    background-repeat: no-repeat;
    text-align: center;
    font-size: 70px;
    display: inline-block;
    vertical-align: top;
}

/* .hall__item:not(:nth-child(2n)) {
    margin-right: 10px;
} */

.hall__item-theme-vibes {
    background-image: url(../image/two.png);
    background-size: contain;
    width: 580px;
    margin-right: 10px;
    margin-bottom: 10px;
    /* background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 70px; */
}

.hall__item-theme-starwars {
    background-image: url(../image/three.png);
    background-size: contain;
    width: 580px;
    /* background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 70px; */
}

.hall__item-theme-wildwest {
    background-image: url(../image/four.png);
    background-size: contain;
    width: 580px;
    margin-right: 10px;
    /* background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 70px; */
}

.hall__item-theme-neon {
    background-image: url(../image/five.png);
    background-size: contain;
    width: 580px;
    /* background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 70px; */
}

@media (max-width: 1250px) {
    .hall__item {
        font-size: 50px;
    }

    .hall__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .hall__item-theme-vibes {
        width: 442px;
    }
    
    .hall__item-theme-starwars {
        width: 442px;
        margin-bottom: 10px;
    }
    
    .hall__item-theme-wildwest {
        width: 442px;
    }
    
    .hall__item-theme-neon {
        width: 442px;
    }
}

@media (max-width: 960px) {
    .hall__item {
        width: 334px;
        font-size: 40px;
        height: 200px;
    }

    .hall__link {
        padding-top: 62px;
        padding-left: 107px;
    }

    /* .hall__item-theme-vibes {
        margin-right: 10px;
    }

    .hall__item-theme-starwars {
        margin-bottom: 10px;
    } */

    .hall__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 79px;
        padding-left: 70px; 
    }
}

@media (max-width: 720px) {
    .hall__item {
        width: 250px;
        font-size: 40px;
        height: auto;
        font-size: 32px;
    }

    .hall__link {
        padding-top: 30px;
        padding-bottom: 46px;
    }
}

@media (max-width: 520px) {
    .hall__item {
        width: 280px;
        font-size: 26px;
        height: 168px;
        margin-bottom: 10px;
    }

    .hall__list {
        grid-template-columns: repeat(1, 1fr);
    }
}