.header {
    padding-bottom: 0;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 40px;
    font-weight: 400;
    font-size: 22px;
    line-height: 227%;
    text-transform: uppercase;
    color: #fff;
}

.header__btn {
    border: 3px solid #cd06ff;
    border-radius: 10px;
    background-color: transparent;
    width: 280px;
    height: 55px;
    font-weight: 700;
    font-size: 22px;
    line-height: 136%;
    text-transform: uppercase;
    color: #fff;
}

.header__btn:hover {
    background-color: #6C0287;
}

.header__btn:focus {
    background-color: #6C0287;
}

.header__btn:active {
    background-color: #640AA3;
}
