.reserv {
    background-color: var(--reserv-color);
    padding-top: 80px;
}

.reserv__block {
    overflow: hidden;
    max-width: 980px;
    margin: 0 auto;
}

.reserv__form {
    margin: 0 auto;
}

.reserv__title {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    margin-bottom: 40px;
}

.reserv__subtitle {
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
}

.reserv__card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.reserv__card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 55px;
    border-radius: 8px;
    background-color: var(--white-color);
    font-weight: 700;
    font-size: 30px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    cursor: pointer;
}

.fieldset1 {
    margin-bottom: 60px;
}

.reserv__block-kit {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.reserv__kit {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.reserv__checkbox {
    width: 25px;
    height: 25px;
}

.reserv__radio {
    width: 27px;
    height: 27px;
}

.reserv__kit label {
    display: flex;
    align-items: center;
    gap: 12px;
}

.choice {
    padding: 0 3px;
}

.reserv__choice {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}
.reserv__choice-wrapper {
    display: flex;
    gap: 50px;
}

.reserv__choice-date {
    display: flex;
    flex-direction: column;
    /* max-width: 300px; */
    gap: 36px;
    padding-top: 18px;
}

.reserv__choice-date-block {
    display: flex;
    gap: 32px;
}

.reserv__choice-date-label {
    width: calc(50% - 16px);
    line-height: 22px;
    font-size: 18px;
}

.reserv__choice-date-count {
    font-size: 18px;
}

.reserv__choice-info {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 14px;
}

.reserv__choice-info2 {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 14px;
}

.reserv__choice-btn {
    display: block;
    margin-left: auto;
    font-weight: 700;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    color: var(--about-color);
    border-radius: 10px;
    width: 300px;
    height: 60px;
    background-color: var(--white-color);
}

.reserv__input {
    width: 100%;
    height: 52px;
    padding-left: 20px;
    padding-right: 27px;
}

.reserv__input-number {
    width: 100%;
    height: 52px;
    padding-left: 20px;
    padding-right: 27px;
}

.reserv__input-name {
    width: 100%;
    height: 52px;
    padding-left: 20px;
    padding-right: 27px;
}

.reserv__input-surname {
    width: 100%;
    height: 52px;
    padding-left: 20px;
    padding-right: 27px;
}

.reserv__input-phone {
    width: 100%;
    height: 52px;
    padding-left: 20px;
    padding-right: 27px;
}

.reserv__input-email {
    width: 100%;
    height: 52px;
    padding-left: 20px;
    padding-right: 27px;
}

.reserv__card-item:hover {
    border: 3px solid #640AA3;
    background-color: #EADEED;
    transition-duration: 0.4s;
}

.reserv__card-item:focus {
    border: 3px solid #640AA3;
    background-color: #EADEED;
    transition-duration: 0.4s;
}

.reserv__card-item:active {
    border: 3px solid #ffffff;
    background-color: #6C0287;
    color: var(--white-color);
}

.reserv__choice-btn:hover {
    border: 3px solid #6C0287;
    background-color: #EADEED;
    transition-duration: 0.4s;
}

.reserv__choice-btn:focus {
    border: 3px solid #6C0287;
    background-color: var(--white-color);
}

.reserv__choice-btn:active {
    background-color: var(--white-color);
    transition-duration: 0.4s;
}

input.reserv__input:focus {
    outline: 3px solid #CD06FF;
    outline-offset: 1px;
}

input.reserv__checkbox:focus {
    outline: 3px solid #CD06FF;
    outline-offset: 1px;
}

@media (max-width: 1250px) {
    .reserv {
        margin-bottom: 35px;
    }

    .reserv__title {
        margin-bottom: 26px;
    }

    .reserv__card-item {
        width: 180px;
        height: 44px;
        font-size: 20px;
    }
}

@media (max-width: 960px) {
    .reserv__card-item {
        width: 150px;
        height: 38px;
        font-size: 16px;
    }

    .reserv__choice {
        display: flex;
        flex-direction: column;
        /* align-items: end; */
        gap: 40px;
        margin-bottom: 40px;
    }

    .reserv__choice-date-block {
        gap: 14px;
    }

    .reserv__choice-wrapper {
        gap: 106px;
    }

    .reserv__choice-date {
        display: flex;
        flex-direction: row;
        gap: 106px;
        padding-top: 18px;
    }
    

    .reserv__choice-info {
        display: flex;
        flex-direction: column;
        max-width: 280px;
        align-items: center;
    }

    .reserv__choice-date-label {
        width: 134px;
    }

    .reserv__input-number {
        width: 300px;
    }
    

    .reserv__input-name {
        width: 280px;
    }
    
    .reserv__input-surname {
        width: 280px;
    }
    
    .reserv__input-phone {
        width: 300px;
    }
    
    .reserv__input-email {
        width: 300px;
    }
}

@media (max-width: 720px) {
    .reserv__card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 14px 20px;
        margin-bottom: 30px;
    }

    .reserv__card-item {
        width: 100%;
    }

    .reserv__block-kit {
        margin-bottom: 30px;
    }

    .reserv__block-kit {
        flex-wrap: wrap;
        gap: 30px;
    }

    .reserv__choice-btn {
        margin: 0 auto;
    }

    .reserv__choice-date {
        flex-direction: column;
        gap: 20px;
    }

    .reserv__choice-wrapper {
        gap: 20px;
    }

    .reserv__choice-date-label {
        width: 100%;
    }

    .reserv__input-number {
        width: 100%;
    }
    

    .reserv__input-name {
        width: 100%;
    }
    
    .reserv__input-surname {
        width: 100%;
    }
    
    .reserv__input-phone {
        width: 100%;
    }
    
    .reserv__input-email {
        width: 100%;
    }
}





























@media (max-width: 520px) {
    .reserv__title {
        font-size: 14px;
    }

    .reserv__card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 14px 20px;
        margin-bottom: 30px;
    }

    .reserv__choice-date {
        display: flex;
        flex-direction: column;
        gap: 35px;
        padding-top: 0;
    }


    .reserv__card-item {
        width: 130px;
        height: 30px;
        font-size: 14px;
    }

    .reserv__block-kit {
        flex-direction: column;
        gap: 25px;
        margin-bottom: 30px;
    }

    .reserv__choice-wrapper {
        flex-direction: column;
        gap: 35px;
    }

    .reserv__choice-date-label {
        width: 100%;
    }

    .reserv__input-number {
        width: 100%;
    }
    

    .reserv__input-name {
        width: 100%;
    }
    
    .reserv__input-surname {
        width: 100%;
    }
    
    .reserv__input-phone {
        width: 100%;
    }
    
    .reserv__input-email {
        width: 100%;
    }

    .reserv__choice-btn {
        font-size: 18px;
        width: 100%;
    }
}