.reserv {
    background-color: #440F51;
    padding-top: 80px;
}

.reserv__form {
    margin: 0 auto;
}

.reserv__title {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    margin-bottom: 40px;
}

.reserv__subtitle {
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
}

.reserv__card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.reserv__card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 55px;
    border-radius: 8px;
    background-color: #fff;
    font-weight: 700;
    font-size: 30px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.fieldset1 {
    margin-bottom: 60px;
}

.fieldset2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.reserv__fieldset2 {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.reserv__checkbox {
    width: 25px;
    height: 25px;
}

.reserv__radio {
    width: 27px;
    height: 27px;
}

.reserv__fieldset2 label {
    display: flex;
    align-items: center;
    gap: 12px;
}

.fieldset3 {

}

.reserv__fieldset3 {
    display: flex;
    justify-content: space-around;
}

.reserv__fieldset3-one {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.reserv__fieldset3-two {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.reserv__fieldset3-three {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.reserv__fieldset3-btn {
    float: inline-end;
    font-weight: 700;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    color: #6c0287;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    background-color: #fff;
}