
.review__list {
    max-width: 980px;
    margin: 0 auto;
}

.review__item-figure-wrapper {
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 11px;
}

.review__item-figure-wrapper::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgb(196, 196, 196, 0) 0%, rgb(108, 2, 135, 0.5) 100%);
}

.review__item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.review__item-img-name {
    font-weight: 400;
    font-size: 20px;
    /* position: relative;
    left: 60px;
    top: 10px;    */
}

.review__item-figure {
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

.review__item-img-description {
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    font-size: 20px;
    max-width: 680px;
    padding-top: 62px;
}

.review__item:not(:last-child) {
    margin-bottom: 50px;
}

@media (max-width: 1250px) {
    .review__list {
        max-width: 751px;
    }

    .review__item:not(:last-child) {
        margin-bottom: 40px;
    }

    .review__item-figure-wrapper {
        position: relative;
        width: 172px;
        height: 172px;
        margin-bottom: 21px;
    }

    .review__item-img-description {
        font-size: 18px;
        max-width: 515px;
        padding-top: 33px;
    }
}

@media (max-width: 960px) {
    .review__list {
        max-width: 561px;
    }

    .review__item {
        display: flex;
        align-items: center;
    }

    .review__item-img-description {
        font-size: 16px;
        max-width: 393px;
        height: 94px;
        padding-top: 0;
    }

    .review__item-figure-wrapper {
        width: 153px;
        height: 153px;
        margin-bottom: 17px;
    }

    .review__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media (max-width: 520px) {
    .review__item {
        flex-direction: column;
        align-items: center;
    }

    .review__item-figure {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .review__item-figure-wrapper {
        width: 86px;
        height: 86px;
        margin-bottom: 9px;
    }

    .review__item-img-description {
        font-size: 12px;
        max-width: 100%;
        height: 66px;
    }

    .review__item-img-name {
        margin-bottom: 16px;
    }
}